<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TinyApp</title>
        
        <style>
            .links{
                display:inline-block;
            }
            .button{
                padding: 14px 32px;
                background-color: rgb(4, 193, 226);
                background-repeat: no-repeat;
                background-image:  url(trashcan.png);
                background-size: 30px auto;
                background-position: right;
                text-align: left;
                font-size: 15px;
                border-radius: 5px;
            }
            body{
                font-family: sans-serif;
            }
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th {
                text-align: left;
            }
            th, td {
                padding: 15px;
            }
            table {
                border-spacing: 5px;
            }
            table#t01 {
                width: 100%; 
                background-color: #f1f1c1;
            }
            table#t01 tr:nth-child(even) {
                background-color: #eee;
            }
            table#t01 tr:nth-child(odd) {
                background-color: #fff;
            }
            table#t01 th {
                color: white;
                background-color: black;
            }
        </style> 
    
    </head>
    
    <body>
            <%- include partials/_header.ejs %>
            <h2 style="font-family: sans-serif">Tiny App URLs</h2>
            <% for (var url in urlDatabase) { %>
            <!-- create form submission via inline javascript -->
            <form style="margin:0; padding: 0;" method="POST" action="/urls/<%= url %>/delete?_method=DELETE">
                <div><%=url%> &rarr; 
                    <a href= "<%=urlDatabase[url]%>"> <%=urlDatabase[url]%></a> 
                    <a href="/urls/<%= url %>">Edit</a>   
                        <input class="button" type="submit" value="Delete">

                        <span> &nbsp # uses: 
                                <% if(visitorinfo && visitorinfo[url]) {%> 
                                <%-visitorinfo[url].length %>
                                <% }  else {%>
                                0
                                <% } %>


                               &nbsp # Unique Visitors: 
                               <% if(visitorinfo && visitorinfo[url]) {%> 
                               <%-visitorinfo[url].filter((x) => x!== "guest").length %>
                               <% }  else {%>
                                0
                                <% } %>
                        </span>
                    </div>
            </form> 
            <br/>
            <%}%>

            <br/>
            <br/>

            <% if(username) {%>
            <a href="/urls/new">Make new shorturl!</a>
            <% }%>

            <br/><br/><br/>
            <hr>
            <h2>Visitor History</h2>
            <table style="width:100%">
                    <tr>
                      <th>ID</th> 
                      <th>Time</th>
                    </tr>
            <% var orderedhistory = urltimelog.reverse(); %>
            <% for(var i = 0; i < orderedhistory.length; i++){ %>
                    <tr>
                      <td><%-orderedhistory[i].id%></td> 
                      <td><%-orderedhistory[i].time%></td>
                    </tr>
            <% } %>
            </table>
            
    </body>
</html>                                             

