<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TinyApp</title>
        
        <style>
            .links{
                display:inline-block;
            }
            .button{
                padding: 14px 32px;
                background-color: white;
                background-repeat: no-repeat;
                background-image:  url(trashcan.png);
                background-size: 30px auto;
                background-position: right;
                text-align: left;
                border-radius: 5px;
            }
            a{
                font-family: sans-serif;
            }
            p{
                font-family: sans-serif;
            }
        </style> 
    
    </head>
    
    <body>
            <%- include partials/_header.ejs %>
            <% for (var url in urlDatabase) { %>
            <!- create form submission via inline javascript ->
            <p><%=url%> &rarr; 
                <a href= "<%=urlDatabase[url]%>"> <%=urlDatabase[url]%></a> 
                <!--
                <form id="edit<%=url%>" method="POST" action="/urls/<%= url %>">
                        <a href="javascript:{}" 
                        onclick="
                        document.getElementById('edit<%=url%>').submit(); 
                        return false;">
                        edit
                        </a>
                </form>
                --> 
                <a href="/urls/<%= url %>">Edit</a>   
                <!- send POST request upon delete submit ->
                <form method="POST" action="/urls/<%= url %>/delete">
                    <input class="button" type="submit" value="Delete">
                </form> 
            </p>
        
            <%}%>
            
            <script>
                document.getElementById("edit").onclick = function(){ /*TO DO: run ejs render of the */};
            </script>
        
        <!-- Add your EJS code here -->
    </body>
</html>                                             

