<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TinyApp</title>
        
        <style>
            .links{
                display:inline-block;
            }
            .button{
                padding: 14px 32px;
                background-color: rgb(4, 193, 226);
                background-repeat: no-repeat;
                background-image:  url(trashcan.png);
                background-size: 30px auto;
                background-position: right;
                text-align: left;
                font-size: 15px;
                border-radius: 5px;
            }
            body{
                font-family: sans-serif;
            }
        </style> 
    
    </head>
    
    <body>
            <%- include partials/_header.ejs %>
            <h2 style="font-family: sans-serif">Tiny App URLs</h2>
            <% for (var url in urlDatabase) { %>
            <!-- create form submission via inline javascript -->
            <form style="margin:0; padding: 0;" method="POST" action="/urls/<%= url %>/delete?_method=DELETE">
                <div><%=url%> &rarr; 
                    <a href= "<%=urlDatabase[url]%>"> <%=urlDatabase[url]%></a> 
                    <a href="/urls/<%= url %>">Edit</a>   
                        <input class="button" type="submit" value="Delete">
                        <span> &nbsp # uses: 
                                <% if(visitorinfo && visitorinfo[url]) {%> 
                                <%-visitorinfo[url].length %>
                                <% }  else {%>
                                0
                                <% } %>


                               &nbsp # Unique Visitors: 
                               <% if(visitorinfo && visitorinfo[url]) {%> 
                               <%-visitorinfo[url].filter((x) => x!== "guest").length %>
                               <% }  else {%>
                                0
                                <% } %>
                        </span>
                
                    </div>
            </form> 
            <br/>
            <%}%>

            <br/>
            <br/>

            <% if(username) {%>
            <a href="/urls/new">Make new shorturl!</a>
            <% }%>
    </body>
</html>                                             

